/* container */
.cart-list, .title-table {
  width: 100%;
  display:flex;
}

.cart-list div{
  width: 25%;
}

.add-btn{
  display: block;
}

.add-btn:hover{
  color: green;
  cursor: pointer;
}

.remove-btn{
  display: block;
}

.remove-btn:hover{
  color: cyan;
  cursor: pointer;
}